{% block content %}

	<form method="post">
		<input type="hidden" value="{{ asie.id }}" name="id">

		<label for="title">Nom</label>
		<input type="text" value="{{ asie.title }}" name="title" id="title">

		<label for="country">Pays</label>
		<input type="text" value="{{ asie.country }}" name="country" id="country">

		<label for="content">Description</label>
		<input type="text" value="{{ asie.content }}" name="content" id="content">

        <label for="danger">Dangerosité</label>
		<input type="number" value="{{ asie.danger }}" name="danger" id="danger">


		<button>Valider</button>
	</form>

{% endblock %}
