{% extends 'layout.html.twig' %}

{% block title %}Osez Voyager
{% endblock %}

{% block meta_description %}
	Voyages
{% endblock %}

{% block content %}
	<div class="header-amerique">
		{% include 'Include/_navbar.html.twig' %}
	</div>

	<h1 class="title-amerique">Magnifique voyage en Asie</h1>
	{% set backgroundImages = [
        '/assets/Background/Asie/Forest.png',
        '/assets/Background/Asie/North.png',
        '/path/to/image3.jpg',
        '/path/to/image4.jpg'
    ] %}
	<section class="ameriques-container">
		{% for asie in asies %}
			<article id="article-{{ loop.index }}" style="background-image: url('{{ backgroundImages[(loop.index - 1) % backgroundImages|length] }}')">
				<h2>{{ asie.title }}</h2>
				<div class="content-container">
					<div class="text-content">
						<h3>Pays :
							{{ asie.country }}</h3>
						<p>{{ asie.content|raw }}</p>
						<p>Danger :
							{% if asie.danger <= 30 %}
								<img src="/assets/images/low-danger.png" alt="Faible danger" style="width: 70px; height: 70px; border-radius: 0.5rem;">
							{% elseif asie.danger <= 70 %}
								<img src="/assets/Background/riskmedium.png" alt="Danger modéré" style="width: 100px; height: 70px; border-radius: 0.5rem;">
							{% else %}
								<img src="/assets/Background/dangermort.png" alt="Danger élevé" style="width: 70px; height: 70px; border-radius: 0.5rem;">
							{% endif %}
						</p>
					</div>
				</div>
			</article>
		{% endfor %}
	</section>
	<div class="button">
		<a href="#" class="bouton-haut"><img src="/assets/images/plane.png" alt=""></a>
	</div>
{% endblock %}
